{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 class='text-center'>
      {% if edit_mode %}
        Edit The Choice
      {% else %}
        Add A New Choice
      {% endif %}
      Using The Form Below
  </h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="submit" class='btn btn-primary'>
      </form>
    </div>
  </div>
</div>

{% endblock %}
