{% extends 'base.html' %}

{% block content %}
<div class="container">

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<p>{{poll}} - {{poll.num_votes}} votes</p>

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}

{% for choice in poll.choice_set.all %}

  <input type="radio"
         name="choice"
         id="choice{{ forloop.counter }}"
         value="{{choice.id}}"/>
  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} - {{ choice.num_votes }}</label>
  <br/>

{% endfor %}
<input class='btn btn-primary mb-2' type="submit" value="Vote" {% if not user_can_vote %}disabled{% endif %}/>

</form>

{% if not user_can_vote %}

    {% for choice_dict in results %}
    <div class="row">
        <div class="col-sm-6">
        {{choice_dict.text}}
        <div class="progress mb-1">
          <div class="progress-bar" role="progressbar" style="width: {{choice_dict.percentage}}%;">{{choice_dict.num_votes}}</div>
        </div>
      </div>
    </div>
    {% endfor %}

{% else %}
  <p>Vote to see results!</p>
{% endif %}

</div>
{% endblock %}
