{% extends 'base.html' %}

{% block extra_head %}
<script
    defer
    src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class='text-center'>Welcome to Poll List!</h1>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      {% if messages %}
          {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
          </div>
          {% endfor %}
      {% endif %}
      <a href="{% url 'polls:add' %}" class="btn btn-primary" style="margin-bottom: 5px">Add <i class="fas fa-plus"></i> </a>
      <ul class="list-group">
        {% for poll in polls %}
        <li class="list-group-item">
          <a href="{% url 'polls:detail' poll.id %}">{{ poll }}</a>
          {% if request.user == poll.owner %}
            <a href="" class='float-right'><i class="fas fa-pencil-alt"></i></a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
