{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
  <link rel='stylesheet' type='text/css' href="{% static 'css/home_styles.css' %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div id="home-content">
        <h1>PollMe - Get Started!</h1>
        <h3>Your Voice Matters!</h3>
        <hr>
        <button type="button" class="btn btn-light btn-lg">Get Started!</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
